/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    cursor: pointer;
    display: block;
    padding-left: 35px;
    font: var(--middle-book);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid var(--small-text-color);
      border-radius: 4px;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 1px;
      top: 1px;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      background-image: url("../img/svg/checkbox.svg");
      background-position: center;
      background-size: 15px 12px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 1px solid var(--accent-color);
  outline-offset: 1px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
