<section class="about">
  <div class="about__decor">
    <img src="img/about-decor.png" alt="">
  </div>
  <div class="container">
    <div class="about__wrapper">
      <div class="about__content">
        <h2 class="about__title title">Пара слов о нас</h2>
        <p class="about__subtitle">Спорт держит нас в форме. Учит дисциплине. Объединяет нас. Через спорт мы можем
          менять жизни. В том числе с помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться и
          двигаться вперед.</p>
        <span class="about__signature">SneakMax</span>
      </div>
      <div class="about__image">
        <div class="about__image-block">
          <img src="img/about.jpg" alt="Персона в классных кроссовках">
        </div>
      </div>
    </div>
  </div>
</section>