<section class="catalog">
  <div class="container">
    <h2 class="catalog__title title">Каталог</h2>
    <div class="catalog__wrapper">
      <div class="catalog__left">
        <h3 class="catalog__left-sub">
          Подбор
          по параметрам
        </h3>

        <div class="catalog__left-range range">
          <h3 class="catalog__left-title">Цена, руб</h3>
          <div class="range__inputs">
            <label>
              <input type="number" class="range__input" min="1850" max="25000" placeholder="1850" id="input-0">
            </label>
            <label>
              <input type="number" class="range__input" min="1850" max="25000" placeholder="25000" id="input-1">
            </label>
          </div>
          <div class="range__slider" id="range-slider"></div>
        </div>

        <div class="catalog__left-gender gender">
          <h3 class="catalog__left-title">Пол</h3>
          <div class="gender__checkboxes">
            <div class="gender__checkbox"><label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field">
                <span class="custom-checkbox__content">мужской</span>
              </label></div>
            <div class="gender__checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field">
                <span class="custom-checkbox__content">женский</span>
              </label>
            </div>


          </div>
        </div>

        <div class="catalog__left-prop catalog-prop">
          <div class="catalog__left-title">Размер</div>
          <div class="catalog-prop__inner">
            <table class="sizes-table">
              <caption>Таблица размеров</caption>
              <tbody>
                <tr>
                  <td>35</td>
                  <td>36</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>38</td>
                  <td>39</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>41</td>
                  <td>42</td>
                  <td>43</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <button type="button" class="catalog__left-btn catalog__btn-apply btn btn--secondary">Применить</button>
        <button type="button" class="catalog__left-btn catalog__btn-reset input-reset">сбросить</button>
      </div>
      <div class="catalog__right catalog-products">
        <ul class="catalog-products__items list-reset">
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
          <li class="catalog-products__item">
            <article class="catalog-products__card products-card">
              <div class="products-card__img">
                <img src="img/catalog/1.jpg" alt="Кроссовки">
              </div>
              <div class="products-card__text-block">
                <h3 class="products-card__title">Кроссовки Nike Air Force 1 '07 QS</h3>
                <span class="products-card__price">11 000 р₽</span>
              </div>
            </article>
          </li>
        </ul>
        <button class="btn-reset catalog__right-btn btn btn--primary" type="button">Показать еще</button>
      </div>
    </div>
  </div>
</section>