<section class="faq">
  <div class="container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <ul class="list-reset accordion__faq accordion-faq">
      <li class="accordion-faq__item">
        <h3 class="accordion-faq__question">Как правильно подобрать размер кроссовок?</h3>
        <div class="accordion-faq__content">
          <p class="accordion-faq__answer">
            Мы рекомендуем ознакомиться с нашей таблицей размеров и измерить длину стопы, чтобы подобрать идеальный
            размер. Также можете обратиться к нашим специалистам, которые помогут с выбором.
          </p>
        </div>
      </li>
      <li class="accordion-faq__item">
        <h3 class="accordion-faq__question">Сколько времени занимает доставка и как отследить заказ?</h3>
        <div class="accordion-faq__content">
          <p class="accordion-faq__answer">
            Доставка обычно занимает от X до Y дней, в зависимости от вашего региона. После оформления заказа мы
            отправим
            вам номер для отслеживания, с помощью которого можно отслеживать статус доставки.
          </p>
        </div>
      </li>
      <li class="accordion-faq__item">
        <h3 class="accordion-faq__question">Могу ли я вернуть или обменять товар, если он мне не подошел?</h3>
        <div class="accordion-faq__content">
          <p class="accordion-faq__answer">
            Да, у нас есть политика возврата и обмена товаров. Вы можете вернуть товар в течение 5 дней с момента
            покупки
            при сохранении товарного вида и упаковки.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
