<section class="quiz">
  <div class="container">
    <h2 class="visually-hidden">Подбор товара - квиз</h2>

    <div class="quiz__content">
      <h3 class="quiz__title">Мы подберем идеальную пару для вас</h3>
      <p class="quiz__sub">
        Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями
      </p>

      <form class="quiz-form" method="POST">


        <!--<div class="last-question">
          <div class="last-question__form">
            <h3 class="last-question__title">Получить предложение</h3>
            <p class="last-question__descr">Получите подборку подходящих для вас моделей на почту</p>
            <div class="last-question__form-block">
              <input type="text" class="input last-question__input" placeholder="Ваше имя" required>
              <input type="email" class="input last-question__input" placeholder="E-mail" required>
            </div>
            <button type='button' class='btn btn-reset btn--primary last-question__btn'>Получить</button>
            <div class="last-question__decorate">
              <div class="last-question__decorate-res">
                <span>Отправлено</span>
              </div>
              <img class="last-question__decorate--screen" src="img/phone/screen.png" alt="" aria-hidden="true">
              <img class="last-question__decorate--phone" src="img/phone/phone.png" alt="" aria-hidden="true">
            </div>
          </div>
        </div>-->
      </form>
    </div>
  </div>
</section>